*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	background-color: beige;
}
.card{
	width: 300px;
	height: 18.75rem;
	background-color: #ffaaff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 1s ease; 
	box-shadow:2px 2px 10px #808080;
}
.card-outside,.card-inside{
	position: absolute;
	right: 0;
	width: 300px;
	height: 300px;
}
.card-outside{
	z-index: 100;
}
.out-container{
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform-origin: left;
	transition: all 1s ease; 
}
.card:hover .out-container{
	transform: rotateY(-180deg);
}
.card-front,.card-back{
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
}
.card-front{
	background-color: steelblue;
}
.card-back{
	background-color: #ffaaff;
}
.front-top{
	width: 100%;
	height: 240px;
	clip-path: polygon(0 0,100% 0,100% 90%,57% 90%,50% 100%,43% 90%,0 90%);
}
.front-top img{
	width: 100%;
	height: 100%;
}
.front-bot{
	font-size: 26px;
	color: #ffaaff;
	font-weight: 800;
	text-align: center;
}
.card-back{
	transform: rotateY(180deg);
}
.video-container{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.card-inside{
	position: relative;
	z-index: 99;
	background-image: linear-gradient(45deg, #fc8eff, #aaffff);
}
.in-container{
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-size: 24px;
	color: beige;
	font-weight:bold;
	padding: 20px;
	box-sizing: border-box;
}
.card:hover{
	position: absolute;
	left: 700px;
}
ul{
			list-style-type: none;
			display: inline-block;
			margin: 0 auto;
			padding: 0;
			overflow: hidden;
			background-color:skyblue;
			border-radius:25px;
		}
		
		#lianjie{
			margin-top: 3.125rem;
			text-align: center;
			z-index: 0;
		}
		#canvas{
			position:fixed;
			bottom: 0px;
			display: block;
			width: 100%;			
			height: 100%;
			background-attachment: fixed;
		}
		#clou1{
			top: 50px;			
			box-shadow: #fff 65px -15px 0 -5px,#fff 25px -25px, #fff 30px 10px,#fff 60px 15px 0 -10px,#fff 85px 5px 0 -5px; 
			animation:myfirst 6s linear infinite;	
		}
		#clou2{
			left: 12.5rem;
			top: 18.75rem;
			box-shadow: #fff 43px -18px 0 -5px, #fff 19px -13px, #fff 30px 10px,#fff 54px 0px 0 2px;
			animation:myfirst 7s linear infinite;
		}
		#clou3{
			left: 15.5rem;
			top: 8.75rem;
			box-shadow: #fff 43px -18px 0 -5px, #fff 19px -13px, #fff 30px 10px,#fff 54px 0px 0 2px;
			animation:myfirst 9s linear infinite;
		}
		.cloud{
			position: fixed;
			width: 50px;
			height: 50px;				
			left: 6.25rem;
			border-radius: 50%;
			background-color: #fff; 
			z-index: -1;					
		}
		@keyframes myfirst
		{
				0%   {left: -10px;}					
				100% {left:1400px;}				
		}
		li a{			
			display: block;
			color: gray;
			padding: 0.8rem 1rem;
			text-decoration: none;
			transition-duration: 1s;	
		}
		li{
			float: left;
		}
		li a:hover{
			background-color: lightblue;
			color: dimgray;
			padding: 1.6rem 2rem;
		}